.list {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.list .list-half {
  width: 346px;
  box-sizing: border-box;
}

.list-half .card {
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  padding-bottom: 20px;

  .product-img {
    width: 96%;
    height: 335px;
  }

  .product-title {
    font-size: 28px;
    color: #666666;
  }

  .product-infos {
    display: flex;
    justify-content: space-between;

    .product-price {
      color: #FB4C51;
    }

    .product-likes {
      font-size: 20px;
      color: #999999;
      align-items: flex-end;
      align-self: flex-end
    }
  }
}
